body{
    background-color: #f0ee92;
    color: #070706;
    font-family: Arial, Helvetica, sans-serif;
}
.header{
 font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
 background-color: #bcc900;
 font-weight: bold;
 
}

.main{
    background-color: #e0d42d;
    color: black;
}

.akhir{
    background-color: #c8c052;
    
}