body{
    background-color: #605c47;
    color: #070706;
    font-family: Arial, Helvetica, sans-serif;
}
.header{
 font-family: Arial,  sans-serif; 
 background-color: #aa7700;
 
}

.main{
    background-color: #abab26;
    color: black;
    color: white;
}

.akhir{
    background-color: #918f20;
    
    
}